/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/examples/virtxml
/libtool
/libvirt-designer-1.0.pc
/libvirt-designer.spec
.deps/
.libs/
/libvirt-designer/LibvirtDesigner-1.0.gir
/libvirt-designer/LibvirtDesigner-1.0.typelib
/libvirt-designer/libvirt-designer-1.0.la
/libvirt-designer/libvirt-designer-enum-types.c
/libvirt-designer/libvirt-designer-enum-types.h
/libvirt-designer/test-designer-domain
*~
*.o
*.lo
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/stamp-h1
docs/xml/
docs/html/
docs/*.stamp
docs/*-decl-list.txt
docs/*-decl.txt
docs/*-overrides.txt
docs/*-sections.txt
docs/*-undeclared.txt
docs/*-undocumented.txt
docs/*-unused.txt
docs/*.args
docs/*.hierarchy
docs/*.interfaces
docs/*.prerequisites
docs/*.signals
docs/*.types
examples/*.1
